{% extends 'site/site.html' %}
{% load static %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'endpoints/css/endpoint-detail.css' %}">
{% endblock %}

{% block title %}Эндпоинт "{{ endpoint.name }}"{% endblock %}

{% block content %}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'project_list' %}">Проекты</a></li>
            <li class="breadcrumb-item"><a href="{% url 'project_group_list' endpoint.group.project.system_name %}">{{ endpoint.group.project }}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'endpoint_list' endpoint.group.project.system_name endpoint.group.system_name %}">{{ endpoint.group }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ endpoint }}</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-12">
            <h1>Эндпоинт "{{ endpoint.name }}"</h1>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12">
            {% for method in endpoint.allowed_methods.all %}
                <button type="button" class="btn btn btn-outline-primary">{{ method.method_name }}</button>
            {% endfor %}
        </div>
    </div>
    <div class="row url-row mt-2">
        <a href="https://{{ endpoint.group.project.base_url }}{{ endpoint.url }}"><p>{{ endpoint.group.project.base_url }}{{ endpoint.url }}</p></a>
    </div>
    <div class="row description-row">
        <p>{{ endpoint.description }}</p>
    </div>
    <div class="row response-row">
        <pre class="form-control p-4" disabled>{{ endpoint.payload }}</pre>
    </div>


</div>
{% endblock %}
